exclude .*
exclude Makefile
exclude ruff.toml
exclude tox.ini
exclude pytest.ini
exclude uv.lock
exclude CONTRIBUTING.rst
exclude CHANGES.md

include README.md
include *.in

recursive-exclude src *.pyc

recursive-include src *

recursive-exclude docs *
recursive-exclude tests *

prune docs
prune tests
