[run]
branch = false
source = django_sysinfo
include =

omit = **/django_sysinfo/__init__.py

[paths]
source =
    src/django_sysinfo/
    .tox/**/django_sysinfo

[report]
# Regexes for lines to exclude from consideration
exclude_lines =
    # Have to re-enable the standard pragma
    pragma: no cover
    # Don't complain about missing debug-only code:
    if self\.debug
    # Don't complain if tests don't hit defensive assertion code:
    raise AssertionError
    raise NotImplementedError
    except ImportError
    # Don't complain if non-runnable code isn't run:
    #if 0:
    if __name__ == .__main__.:
    if settings.DEBUG

ignore_errors = True

[html]
directory = ~build/coverage
